name: alwaysdata
on:
  push:
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.ALWAYSDATA_SSH_PRIVATE_KEY }}
    - name: Deploy
      run: |
        ssh -o StrictHostKeyChecking=accept-new -o LogLevel=ERROR ${{ secrets.ALWAYSDATA_SSH_USER_HOST }} "cd cvt && git pull"
        curl -X POST --basic --user "${{ secrets.ALWAYSDATA_TOKEN }} account=${{ secrets.ALWAYSDATA_ACCOUNT }}:" https://api.alwaysdata.com/v1/site/${{ secrets.ALWAYSDATA_SITE_ID }}/restart/
