name: Fastly Compute
on:
  push:
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: denoland/setup-deno@v2
    - name: Install @fastly/js-compute
      run: npm install -g @fastly/js-compute
    - uses: fastly/compute-actions@v11
      env:
        FASTLY_API_TOKEN: ${{ secrets.FASTLY_API_TOKEN }}
        FASTLY_SERVICE_ID: ${{ vars.FASTLY_SERVICE_ID }}
